<small>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">Assiette partageable</div>
				<span class="fw-italic">Part de la commision partageable avec l'intermédiaire</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">Commission Pure</div>
				<span class="fw-italic">Commission hors toutes les taxes</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">Frais Arca</div>
				<span class="fw-italic">Taxe dûe à l'Autorité de régulation, payable par le courtier</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">Commission Hors Taxe</div>
				<span class="fw-italic">Commision hors taxe, mais cele-ci contient la taxe payable par le courtier.</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">TVA (16%)</div>
				<span class="fw-italic">Taxe payable par le courtier mais collectée au près de l'assureur.</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">Commission TTC</div>
				<span class="fw-italic">Commission incluant toutes les taxes au profit du courtier.</span>
			</div>
			<span class="fw-bold">14 000 USD</span>
		</li>
	</ul>
</small>