{# templates/admin/notificationsinistre/_contacts_list.html.twig #}

{% for contact in notification.contacts %}
    <div class="collection-item"
         data-action="
            mouseenter->collection-manager#showItemActions
            mouseleave->collection-manager#hideItemActions
            click->collection-manager#selectItem
         "
         data-id="{{ contact.id }}"
    >
        <div class="item-icon">
            <twig:ux:icon name="simple-icons:elementor" style="width: 16px;" />
        </div>
        <div class="item-text">
            <div class="text-main">{{ contact.nom }}</div>
            <div class="text-secondary"><em>{{ contact.fonction|default('') }} - {{ contact.telephone }}</em></div>
        </div>
        <div class="item-actions">
            <button type="button" class="btn btn-sm" data-action="click->collection-manager#editItem" title="Modifier">
                <twig:ux:icon name="tabler:edit" style="width: 16px;" />
            </button>
            <button type="button" class="btn btn-sm" data-action="click->collection-manager#deleteItem" title="Supprimer">
                <twig:ux:icon name="fluent:delete-20-filled" style="width: 16px;" />
            </button>
        </div>
    </div>
{% endfor %}

{% if notification.contacts is empty %}
    <div class="text-center p-4 text-muted"><em>Aucun contact dans cette collection.</em></div>
{% endif %}