{# Ce template ne sait afficher qu'un seul objet Contact, passé via la variable 'item' #}
<div 
    class="collection-item"
    data-action="
        mouseenter->collection#showItemActions 
        mouseleave->collection#hideItemActions 
        click->collection#selectItem 
        contextmenu->collection#handleContextMenu
    "
    data-id="{{ item.id }}"
>
    <div class="item-icon">
        <twig:ux:icon name="hugeicons:contact-01" style="width: 35px;" />
    </div>
    <div class="item-text">
        <div class="text-main">{{ item.nom }}</div>
        <div class="text-secondary"><em>{{ item.fonction|default('') }} - {{ item.telephone }}</em></div>
    </div>
    <div class="item-actions">
        <button type="button" class="btn btn-sm btn-edit" data-action="click->collection#editItem" title="Modifier">
            <twig:ux:icon name="tabler:edit" style="width: 20px;" />
        </button>
        <button type="button" class="btn btn-sm btn-delete" data-action="click->collection#deleteItem" title="Supprimer">
            <twig:ux:icon name="fluent:delete-20-filled" style="width: 20px;" />
        </button>
    </div>
</div>