{% extends 'base.html.twig' %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ pageName }}</h1>
    <p>
        <strong>{{ utilisateur.nom }}</strong>, vous êtes sur le point de créer une entreprise. Merci de fournir vos informations dans le formulaire ci-dessous.
    </p>
</div>
{% endblock %}
