{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ pageName }}</h1>
		Bienvenue!
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
