{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}


{% block body %}
	<div class="container">
		<h3>{{ pageName }}</h3>
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					<strong>Cher visiteur</strong>, 
					<br>Nous vous prions de remplir puis de soumettre le formulaire ci-dessous afin d'avoir un compte utilisateur qui vous permettre de profiter des solutions que nous avons mises à votre disposition.
					<hr>
				</p>
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
