{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block body %}
	<div class="container">
		<h3>{{ pageName }}</h3>
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					<strong>Cher visiteur</strong>, 
					<br>Veuillez renseigner vos identifiants de connexion.
					<hr>
				</p>
				{{ form(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
