<div>
  {% set currentURL = absolute_url(path(app.current_route, app.request.attributes.get('_route_params'))) %}
  {% if user is defined %}
      {% if user.locale == 'fr'%}
        <a href="{{ path('app_translate', {'locale': 'en', 'currentURL': currentURL })}}" type="button" class="btn btn-outline-secondary border-0">
          {{ ux_icon('twemoji:flag-united-kingdom', {height: '18px', width: '18px'}) }}
        </a>
      {% else %}
        <a href="{{ path('app_translate', {'locale': 'fr', 'currentURL': currentURL })}}" type="button" class="btn btn-outline-secondary border-0">
          {{ ux_icon('twemoji:flag-france', {height: '18px', width: '18px'}) }}
        </a>
      {% endif %}
  {% endif %}
</div>