<div class="modal fade" data-dialogue-target="boite" id="maModal" tabindex="-1" aria-labelledby="maModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maModalLabel">
          {{titre}}
        </h5>
        {# Le bouton de fermeture n'a plus data-bs-dismiss #}
        <button type="button" class="btn-close" data-action="dialogue#close" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
          {# Contenu de la boîte de dialogue. Action: {{action}} / Objet: {{objet}} #}
          {# <form data-dialogue-target="form" data-action="submit->dialogue#submit"></form> #}
          <div data-dialogue-target="form"></div>
      </div>
      <div class="modal-footer">
        <span class="text-secondary fw-italic" data-dialogue-target="message">Message</span>
        {# Le bouton de fermeture du footer n'a plus data-bs-dismiss #}
        <button type="button" data-dialogue-target="btSubmit" data-action="dialogue#submit" class="btn btn-secondary">Enregistrer</button>
        <button type="button" data-dialogue-target="btFermer" data-action="dialogue#close" class="btn btn-danger">Fermer</button>
      </div>
    </div>
  </div>
</div>