{# Le nouveau Menu #}
<div class="list-group">
    <a href="{{ path('admin.entreprise.dashbord', {'id': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.dashbord' ? 'active' : '' }}">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">
                {{ ux_icon('ant-design:dashboard-twotone', {height: '16px', width: '16px'}) }}
                <strong>&nbsp;{{ "company_menu_dashboard" | trans }}&nbsp;</strong>
            </h6>
            <small><span class="badge text-bg-warning rounded-pill">Pro</span></small>
        </div>
    </a>
</div>
<div class="accordion" id="accMenuEntreprise">
    {% include 'segments/menu_entreprise/menu_entreprise_finances.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_marketing.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_production.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_sinistres.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_reporting.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_administration.html.twig' %}
</div>





