<section id="pricing_plan" class="public-section">
    <div class="public-section__head">
        <h2>{{ "security_pricing_plan" | trans }}</h2>
        <p>{{ "security_pricing_plan_description" | trans | raw }}</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            {# Plan Basic #}
            {% include 'segments/pricing_plan_basic.html.twig' %}
        </div>
        <div class="col">
            {# Plan Intermédiaire #}
            {% include 'segments/pricing_plan_intermediaire.html.twig' %}
        </div>
        <div class="col">
            {# Plan Professionnel #}
            {% include 'segments/pricing_plan_professionnel.html.twig' %}
        </div>
    </div>
</section>
