<div class="" id="pricing_plan">
      <p class="text-center m-5" >
        <h1 class="text-center"><strong>{{ "security_pricing_plan" | trans }}</strong></h1>
        <h4 class="text-center text-secondary">{{ "security_pricing_plan_description" | trans | raw}}</h4>
      </p>
      <div class="row row-cols-1 row-cols-md-3 g-4 m-5">
        <div class="col">
          {# Plan Basic #}
          {% include 'segments/pricing_plan_basic.html.twig' %}
        </div>
        <div class="col">
          {# Plan Basic #}
          {% include 'segments/pricing_plan_intermediaire.html.twig' %}
        </div>
        <div class="col">
          {# Plan Basic #}
          {% include 'segments/pricing_plan_professionnel.html.twig' %}
        </div>
      </div>
  </div>