<button class="nav-link" id="nav-production-partner-tab" data-bs-toggle="tab" data-bs-target="#nav-production-partner" type="button" role="tab" aria-controls="nav-production-partner" aria-selected="false">
    {{ include('segments/icones/partenaire.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_partners_titre" | trans() | raw }}
</button>