{# templates/pages/sales_demo.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Démo Barre des Totaux{% endblock %}

{% block body %}
<div 
    data-controller = "rubrique" 
    data-rubrique-nom-value = "VENTE"
    class="container mt-5"
>
    <h1 class="mb-4">Liste des Ventes</h1>

    {# 1. Inclusion de la barre des totaux #}
    {{ component('_search_bar') }}

    {# 2. La barre de recherche #}
    {{ include('components/_totals_bar.html.twig', { numericAttributes: numericAttributes }) }}


    {# 3. Inclusion de la liste des ventes en passant les données #}
    {{ include('components/_sales_list.html.twig', { sales: sales }) }}

</div>
{% endblock %}