<button class="nav-link" id="nav-production-insurer-tab" data-bs-toggle="tab" data-bs-target="#nav-production-insurer" type="button" role="tab" aria-controls="nav-production-insurer" aria-selected="false">
    {{ include('segments/icones/assureur.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_insurers_titre" | trans() | raw }}
</button>