<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .texte_grand {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .texte_noire {
                color: black;
            }
            .texte_moyen {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .texte_normal {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 12px;
            }
            .texte_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
            }
            table, th, td{
                border-collapse: collapse;
                border: none;
            }
            .bordure {
                border: 1px solid darkgray;
            }
            .thead{
                background-color: lightgray;
                font-weight: bold;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte_centre {
                text-align: center;
            }
            .texte_droite {
                text-align: right;
            }
            .texte_gauche {
                text-align: left;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
            a:active {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {# Titre de la note #}
        <br/>
        <p class="texte_moyen">BOREDEREAU DE LA {{ constante.Note_getNameOfTypeNote(note) }} n°{{note.reference}}</p>




    </body>
</html>