{# On fait signe si cette tranche peut entrer dans le panier #}
{% if panier != null %}
    {% if constante.Tranche_getPanierStatus(tranche, panier) == 0 %}
        <span class="text-success fw-bold">(+{{ constante.Tranche_getPostesFacturables(tranche, panier, -1, false)|length }} {{ ux_icon('pepicons-print:cart', {height: '18px', width: '18px'}) }})</span>
    {% endif %}
    {% if constante.Tranche_getPanierStatus(tranche, panier) == 1 %}
        <span class="text-danger fw-bold">(-{{ constante.Tranche_getPostesFacturables(tranche, panier, -1, false)|length }} {{ ux_icon('pepicons-print:cart', {height: '18px', width: '18px'}) }})</span>
    {% endif %}
{% endif %}