<button class="nav-link" id="nav-cash-tab" data-bs-toggle="tab" data-bs-target="#nav-cash" type="button" role="tab" aria-controls="nav-cash" aria-selected="false">
    {{ include('segments/icones/note.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_cashflow_titre" | trans() | raw }}
</button>