<button class="nav-link" id="nav-topclients-tab" data-bs-toggle="tab" data-bs-target="#nav-topclients" type="button" role="tab" aria-controls="nav-topclients" aria-selected="false">
    {{ include('segments/icones/client.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_clients_titre" | trans() | raw }}
</button>