<button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">
    {{ include('segments/icones/tache.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_tasks_titre" | trans() | raw }}
</button>