{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    {# Le filtre sera ici {{ data }} #}
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Tapez votre mot clé ici" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
</div>