{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    <div class="card text-center">
        <div class="card-header">
            360° view of <strong>{{ entreprise.nom }}</strong> production over the given period of time
        </div>
        <div class="card-body">
            {# Texte introductif #}
            <blockquote class="blockquote mb-0">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            {# Tableau d'onglets #}
            {# Barre de navigation #}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-production-tab" data-bs-toggle="tab" data-bs-target="#nav-production" type="button" role="tab" aria-controls="nav-production" aria-selected="true">
                        Production
                    </button>
                    <button class="nav-link" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">
                        Graphs
                    </button>
                    <button class="nav-link" id="nav-topclients-tab" data-bs-toggle="tab" data-bs-target="#nav-topclients" type="button" role="tab" aria-controls="nav-topclients" aria-selected="false">
                        Top 20 clients
                    </button>
                    <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">
                        Tasks
                    </button>
                    <button class="nav-link" id="nav-renewals-tab" data-bs-toggle="tab" data-bs-target="#nav-renewals" type="button" role="tab" aria-controls="nav-renewals" aria-selected="false">
                        Renewals
                    </button>
                    <button class="nav-link" id="nav-claims-tab" data-bs-toggle="tab" data-bs-target="#nav-claims" type="button" role="tab" aria-controls="nav-claims" aria-selected="false">
                        Claims
                    </button>
                </div>
            </nav>
            {# Contenu de chaque Onglet #}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-production" role="tabpanel" aria-labelledby="nav-production-tab" tabindex="0">
                    {# Tableau de production #}
                    <table class="table table-hover table-sm mt-2">
                        <caption>Quelques explications en bas du tableau ici.</caption>
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Labels</th>
                                <th scope="col">GW Premiums</th>
                                <th scope="col">Net Com.</th>
                                <th scope="col">Taxes</th>
                                <th scope="col">Gros Com.</th>
                                <th scope="col">Com. Received</th>
                                <th scope="col">Balance due</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab" tabindex="0">
                    {{ render_chart(chart, {'class': 'my-chart'}) }}
                </div>
                <div class="tab-pane fade" id="nav-topclients" role="tabpanel" aria-labelledby="nav-topclients-tab" tabindex="0">
                    Contenu de top 20 clients
                </div>
                <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0">
                    Contenu de tasks
                </div>
                <div class="tab-pane fade" id="nav-renewals" role="tabpanel" aria-labelledby="nav-renewals-tab" tabindex="0">
                    Contenu de renewals
                </div>
                <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab" tabindex="0">
                    Contenu de claims
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>