<p>
    Bonjour <strong>{{ invite.email }}</strong>,
</p>
<p>
    JS Brokers a le meilleur plaisir de vous informer que vous venez d'être invité par <strong>{{ utilisateur.nom }}</strong> à accéder à son espace de travail XXXXXXXXXX (son entreprise JS Brokers).<br>
    Pour y accéder, vous n'avez qu'à cliquer ici si vous avez un compte JS Brokers.<br><br>
    Si vous n'avez pas encore un compte JS Brokers, commencez par en créer puis revenez cliquer sur le lien ci-dessus ou accédez directement à cette entreprise à partir de la page d'acceuil de votre compte JS Brokers.    
</p>
<p>
    Cordialement.<br>
    Equipe JS Brokers.    
</p>