<button class="nav-link" id="nav-renewals-tab" data-bs-toggle="tab" data-bs-target="#nav-renewals" type="button" role="tab" aria-controls="nav-renewals" aria-selected="false">
    {{ include('segments/icones/avenant.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_renewals_titre" | trans() | raw }}
</button>