<button class="nav-link" id="nav-claims-tab" data-bs-toggle="tab" data-bs-target="#nav-claims" type="button" role="tab" aria-controls="nav-claims" aria-selected="false">
    {{ include('segments/icones/notificationsinistre.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_claims_titre" | trans() | raw }}
</button>