<turbo-stream action="remove" target="row_monnaie_{{ monnaieId }}"></turbo-stream>
<turbo-stream action="append" target="flash">
    <template>
        <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
            <strong>Infos:</strong>
            {{ messages }}
        </div>
    </template>
</turbo-stream>


