<div id="db-prod-chart-wrapper"
     data-prod-url="{{ prodDataUrl }}"
     data-prod-monthly="{{ monthly|json_encode }}"
     data-prod-currency="{{ deviseCode }}"
     data-prod-year="{{ year }}">
    <canvas id="db-prod-chart"></canvas>
</div>
