<div class="tab-pane fade table-responsive" id="nav-production-insurer" role="tabpanel" aria-labelledby="nav-production-insurer-tab" tabindex="0">
    <div class="card m-2">
        <div class="card-header text-center">
            {# Monthly Production per Insurer #}
            {{ include('segments/icones/assureur.html.twig', {size:'20px'}) }}
            {{ "company_dashboard_section_principale_insurers_header" | trans() | raw }}
        </div>
        CORPS DE L'ONGLET.
    </div>
</div>