<button class="nav-link active" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="true">
    {{ include('segments/icones/graphic.html.twig', {size:'20px'}) }}
    {{ "company_dashboard_section_principale_graphs_titre" | trans() | raw }}
</button>