{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ pageName }} / {{ utilisateur.nom }}
{% endblock %}

{% block descriptionRubrique %}
	Liste des invités de vos entreprises. Elle reprend tous les utilisateurs à qui vous avez accordé quelques droits d'accès aux données de vos entreprises.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex">
			{# Boucler les donnees #}
			{% for invite in invites %}
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th scope="col">Invité</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
				</table>
			{% endfor %}
		</div>
	</div>
{% endblock %}
