{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ pageName }} / {{ utilisateur.nom }}
{% endblock %}

{% block descriptionRubrique %}
	Liste des invités de vos entreprises. Elle reprend tous les utilisateurs à qui vous avez accordé quelques droits d'accès aux données de vos entreprises.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex">
			<table class="table table-hover table-sm caption-top">
				<caption>
					{% if invites|length == 0 %}
						Aucun enregistrement trouvé.
					{% else %}
						Invités : {{ invites|length }} enregistrement(s).
					{% endif %}
				</caption>
				<thead class="table-light">
					<tr>
						<th scope="col">Invité</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{# Boucler les donnees #}
					{% for invite in invites %}
						<tr>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
					{% endfor %}
					<tr>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
