<div
    id="collection-list-{{ random() }}" 
    class="collection-container p-2" 
    data-controller="collection-manager" 
    data-collection-manager-list-url-value=""  
    data-collection-manager-item-title-create-value="Nouvel élément" 
    data-collection-manager-item-title-edit-value="Modifier l'élément" 
>
    {# Cible pour le contenu principal #}
    <div data-collection-manager-target="contentPanel">
        {# Cible pour la liste des éléments elle-même #}
        <div data-collection-manager-target="listContainer">
            {{ include('components/_collection_list.html.twig', {
                'items': items,
                'item_template': item_template
            }) }}
        </div>
    </div>
    {# Cible pour le conteneur du bouton "Ajouter" #}
    <div data-collection-manager-target="addButtonContainer"></div>

    {# Cible pour le compteur d'éléments (badge) - peut être caché #}
    <span data-collection-manager-target="countBadge" class="d-none"></span>
</div>