{#
    Ce template est responsable de l'affichage du contenu d'une liste, c'est-à-dire les lignes de données.
    Il est conçu pour être inséré dynamiquement dans le `<tbody>` d'un tableau par le contrôleur `list-manager`.

    Contrôleur Stimulus associé :
    - `api-response-notifier`: Ce contrôleur n'a pas d'interaction visible. Son seul rôle est de notifier le "Cerveau"
      des métadonnées de la réponse API (informations de pagination, statut) dès qu'il est chargé dans le DOM.
      Le Cerveau relaie ensuite ces informations à d'autres composants, comme le gestionnaire de pagination.

    Paramètres attendus :
    - `listeCanvas`: La configuration d'affichage de la liste, passée au sous-template `_list_row.html.twig`.
#}
<div
    data-controller="api-response-notifier"
    {% if numericAttributesAndValues is defined %}
        data-numeric-attributes-and-values='{{ numericAttributesAndValues|json_encode|e('html_attr') }}'
    {% endif %}
>
    {% if data|length == 0 %}
        {# L'état vide est maintenant géré par _generic_list_component.html.twig, mais on garde une sécurité ici. #}
        <tr><td colspan="100%" class="text-center p-4">Aucune information trouvée pour les critères actuels.</td></tr>
    {% else %}
        {% for entity in data %}
            {{ include('components/_list_row.html.twig', { 'entity': entity, 'listeCanvas': listeCanvas }) }}
        {% endfor %}
    {% endif %}
</div>