{#
    Ce composant est un "fournisseur de configuration" pour la barre de recherche.
    Il ne contient aucune logique d'affichage, son seul rôle est de définir les critères
    de recherche pour une rubrique donnée et de les fournir au reste de l'application
    via le contrôleur Stimulus `search-criteria-provider`.
#}
<div data-controller="search-criteria" data-search-criteria-nom-value="{{ entite_nom }}">
</div>