{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	Liste d'entreprises. L'entreprise est un espace de travail dans lequel vous pouvez inviter divers utilisateurs tout en leurs attribuant des rôles spécifics.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<caption>
			<div class="d-flex gap-1">
				{{ knp_pagination_render(monnaies) }}
			</div>
		</caption>
		
		<div class="d-flex">
			{# Boucler les entreprises #}
			{% for monnaie in monnaies %}
				
			{% endfor %}
		</div>
	</div>
{% endblock %}
