{% extends 'console/base.html.twig' %}

{% block console_subtitle %}<p>Comptes gratuits de la plateforme : utilisateurs sur le plan basic, sans solde de jetons prépayés.</p>{% endblock %}

{% block console_body %}
<div class="cs-panel">
    {% include 'console/_users_table.html.twig' with { utilisateurs: utilisateurs } %}
</div>
{% endblock %}
