{% extends 'console/base.html.twig' %}

{% block console_subtitle %}<p>Clients de la plateforme : comptes en mode payant disposant encore d'un solde de jetons prépayés.</p>{% endblock %}

{% block console_body %}
<div class="cs-panel">
    {% include 'console/_users_table.html.twig' with { utilisateurs: utilisateurs } %}
</div>
{% endblock %}
