<div class="accordion-item">
    <h2 class="accordion-header" id="menuAdministration">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuAdministration" aria-expanded="false" aria-controls="collapsemenuAdministration">
            {{ ux_icon('gravity-ui:dots-9', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;Administration&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuAdministration" class="accordion-collapse collapse" aria-labelledby="menuAdministration" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="#" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.entreprise.document' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">Documents</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.classeur'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">Classeurs</span>
                </div>
            </a>
        </div>
    </div>
</div>